In [10]:
# Import Pandas library
import pandas as pd

# Create four Pandas DataFrames

# This is the basic Carsales DataFrame
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.index.rename("Sales place", inplace=True)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=False)
print(Carsales.head(2))

# This DataFrame may add two Salesplaces to our DataFrame, vertically.
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
print(Carsales2)

# This DataFrame contains two Carbrands columns which can be added to the Carsales DataFrame, horizontally.
Carsales3 = pd.DataFrame({"Volvo": [3, 4, 0, 0, 1], "Tesla": [2, 8, 0, 1, 1]})
Carsales3.rename(index={0: "One", 1: "Nine", 2: "Three", 3: "Six", 4: "Seven", 5: "Eight"}, inplace=True)
print(Carsales3)

# This DataFrame may be used display the .concat functions handling of duplicates.
Carsales4 = pd.DataFrame({"Sales_place_name": ["Europe 1", "Australia 1"], "Mercedes": [2, 4], "Ford": [3, 0], "Tata": [9, 3], "Renault": [12, 1]})
Carsales4.rename(index={0: "One", 1: "Two"}, inplace=True)
print(Carsales4)

            Sales_place_name  Mercedes  Ford  Tata  Renault
Sales place
One                 Europe 1         2     3     9       12
Two              Australia 1         4     0     3        1
      Sales_place_name  Mercedes  Ford  Tata  Renault
Seven  South America 1         3     2     1        1
Eight           Asia 1         4     1     1        0
       Volvo  Tesla
One        3      2
Nine       4      8
Three      0      0
Six        0      1
Seven      1      1
    Sales_place_name  Mercedes  Ford  Tata  Renault
One         Europe 1         2     3     9       12
Two      Australia 1         4     0     3        1

In [8]:
# defaults to axis = 0 which is a row based concat
Carsales5 = pd.concat([Carsales, Carsales2])
print(Carsales5)

      Sales_place_name  Mercedes  Ford  Tata  Renault
One           Europe 1         2     3     9       12
Two        Australia 1         4     0     3        1
Three            USA 1         0     0     4        0
Four            Asia 1         4     1     1        0
Five          Africa 1         0     6     0        3
Six    South America 1         3    12     0        1
Seven  South America 1         3     2     1        1
Eight           Asia 1         4     1     1        0

In [12]:
# changes axis = 1 results in a column concat aka a join
# Default is an outerjoin with NaN values populating any missing datapoints
Carsales6 = pd.concat([Carsales5, Carsales3], axis=1)
print(Carsales6)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1       2.0   3.0   9.0     12.0    3.0    2.0
Two        Australia 1       4.0   0.0   3.0      1.0    NaN    NaN
Three            USA 1       0.0   0.0   4.0      0.0    0.0    0.0
Four            Asia 1       4.0   1.0   1.0      0.0    NaN    NaN
Five          Africa 1       0.0   6.0   0.0      3.0    NaN    NaN
Six    South America 1       3.0  12.0   0.0      1.0    0.0    1.0
Seven  South America 1       3.0   2.0   1.0      1.0    1.0    1.0
Eight           Asia 1       4.0   1.0   1.0      0.0    NaN    NaN
Nine               NaN       NaN   NaN   NaN      NaN    4.0    8.0

In [17]:
# The specific type of join can be specified as a parameter
Carsales7 = pd.concat([Carsales5, Carsales3], axis=1, join='inner')
print(Carsales7)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1         2     3     9       12      3      2
Three            USA 1         0     0     4        0      0      0
Six    South America 1         3    12     0        1      0      1
Seven  South America 1         3     2     1        1      1      1

In [19]:
# concatenate does NOT handle row or column duplicates
print(pd.concat([Carsales, Carsales4]))
print(pd.concat([Carsales, Carsales], axis=1))

      Sales_place_name  Mercedes  Ford  Tata  Renault
One           Europe 1         2     3     9       12
Two        Australia 1         4     0     3        1
Three            USA 1         0     0     4        0
Four            Asia 1         4     1     1        0
Five          Africa 1         0     6     0        3
Six    South America 1         3    12     0        1
One           Europe 1         2     3     9       12
Two        Australia 1         4     0     3        1
            Sales_place_name  Mercedes  Ford  Tata  Renault Sales_place_name  \
Sales place
One                 Europe 1         2     3     9       12         Europe 1
Two              Australia 1         4     0     3        1      Australia 1
Three                  USA 1         0     0     4        0            USA 1
Four                  Asia 1         4     1     1        0           Asia 1
Five                Africa 1         0     6     0        3         Africa 1
Six          South America 1         3    12     0        1  South America 1

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

In [20]:
# below is a two level index.  Both indice levels can be used for selection.
Carsales9 = pd.concat([Carsales, Carsales4], keys=["Carsales", "Carsales4"], names=["DataFrame", "Sales Place"])
print(Carsales9)

                      Sales_place_name  Mercedes  Ford  Tata  Renault
DataFrame Sales Place
Carsales  One                 Europe 1         2     3     9       12
          Two              Australia 1         4     0     3        1
          Three                  USA 1         0     0     4        0
          Four                  Asia 1         4     1     1        0
          Five                Africa 1         0     6     0        3
          Six          South America 1         3    12     0        1
Carsales4 One                 Europe 1         2     3     9       12
          Two              Australia 1         4     0     3        1