In [49]:
# Create three Pandas DataFrames
import pandas as pd

# This is the basic Carsales DataFrame extended with two more Sales places plus the index column transformed to a feature column.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)
Newsalesplace2 = pd.DataFrame({'Sales_place_name': 'South America 1', 'Mercedes': 3, 'Ford': 2, 'Tata': 1, 'Renault': 1}, index=['Seven'])
Newsalesplace3 = pd.DataFrame({'Sales_place_name': 'USA 1', 'Mercedes': 2, 'Ford': 15, 'Tata': 1, 'Renault': 3}, index=['Eight'])
Newsalesplace4 = pd.DataFrame({'Sales_place_name': 'USA 1', 'Mercedes': 1, 'Ford': 11, 'Tata': 0, 'Renault': 0}, index=['Nine'])
Carsales = pd.concat([Carsales, Newsalesplace2, Newsalesplace3, Newsalesplace4])
print(Carsales)

def sales_rating(n_sold):
    if n_sold >= 15:
        return 'Excellent'
    elif n_sold >= 5:
        return 'Acceptable'   
    else:
        return 'Unacceptable'

      Sales_place_name  Mercedes  Ford  Tata  Renault
One           Europe 1         2     3     9       12
Two        Australia 1         4     0     3        1
Three            USA 1         0     0     4        0
Four            Asia 1         4     1     1        0
Five          Africa 1         0     6     0        3
Six    South America 1         3    12     0        1
Seven  South America 1         3     2     1        1
Eight            USA 1         2    15     1        3
Nine             USA 1         1    11     0        0

In [27]:
# shows count of sales place for the occurances of a specific Renault sales values 
print(pd.crosstab(Carsales['Sales_place_name'], Carsales['Renault']))

Renault           0   1   3   12
Sales_place_name
Africa 1           0   0   1   0
Asia 1             1   0   0   0
Australia 1        0   1   0   0
Europe 1           0   0   0   1
South America 1    0   2   0   0
USA 1              2   0   1   0

In [28]:
# can also cross tabulate across values
print(pd.crosstab(Carsales['Mercedes'], Carsales['Ford']))

Ford      0   1   2   3   6   11  12  15
Mercedes
0          1   0   0   0   1   0   0   0
1          0   0   0   0   0   1   0   0
2          0   0   0   1   0   0   0   1
3          0   0   1   0   0   0   1   0
4          1   1   0   0   0   0   0   0

In [29]:
# all values in the table sum together to 1
print(pd.crosstab(Carsales['Mercedes'], Carsales['Ford'], normalize=True))

Ford            0         1         2         3         6         11  \
Mercedes
0         0.111111  0.000000  0.000000  0.000000  0.111111  0.000000
1         0.000000  0.000000  0.000000  0.000000  0.000000  0.111111
2         0.000000  0.000000  0.000000  0.111111  0.000000  0.000000
3         0.000000  0.000000  0.111111  0.000000  0.000000  0.000000
4         0.111111  0.111111  0.000000  0.000000  0.000000  0.000000

Ford            12        15
Mercedes
0         0.000000  0.000000
1         0.000000  0.000000
2         0.000000  0.111111
3         0.111111  0.000000
4         0.000000  0.000000

In [30]:
# can also normalize by column so columns sum to 1
print(pd.crosstab(Carsales['Mercedes'], Carsales['Ford'], normalize='columns'))

Ford       0    1    2    3    6    11   12   15
Mercedes
0         0.5  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1         0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2         0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
3         0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
4         0.5  1.0  0.0  0.0  0.0  0.0  0.0  0.0

In [51]:
print(Carsales.groupby(['Sales_place_name']).mean())

                  Mercedes      Ford      Tata  Renault
Sales_place_name
Africa 1               0.0  6.000000  0.000000      3.0
Asia 1                 4.0  1.000000  1.000000      0.0
Australia 1            4.0  0.000000  3.000000      1.0
Europe 1               2.0  3.000000  9.000000     12.0
South America 1        3.0  7.000000  0.500000      1.0
USA 1                  1.0  8.666667  1.666667      1.0

In [52]:
print(Carsales.groupby(['Sales_place_name']).sum())

                  Mercedes  Ford  Tata  Renault
Sales_place_name
Africa 1                 0     6     0        3
Asia 1                   4     1     1        0
Australia 1              4     0     3        1
Europe 1                 2     3     9       12
South America 1          6    14     1        2
USA 1                    3    26     5        3

In [55]:
# shows the indices within the group by.  Lambda x:x just returns the same value but is required by groupby to actually show values
# otherwise a groupby object is returned and the type of object is printed not the data
print(Carsales.groupby(['Sales_place_name'], group_keys=True).apply(lambda x: x))

                       Sales_place_name  Mercedes  Ford  Tata  Renault
Sales_place_name
Africa 1         Five          Africa 1         0     6     0        3
Asia 1           Four            Asia 1         4     1     1        0
Australia 1      Two        Australia 1         4     0     3        1
Europe 1         One           Europe 1         2     3     9       12
South America 1  Six    South America 1         3    12     0        1
                 Seven  South America 1         3     2     1        1
USA 1            Three            USA 1         0     0     4        0
                 Eight            USA 1         2    15     1        3
                 Nine             USA 1         1    11     0        0

C:\Users\cooki\AppData\Local\Temp\ipykernel_17144\1786996260.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(Carsales.groupby(['Sales_place_name'], group_keys=True).apply(lambda x: x))

In [57]:
# groupby is useful for creating data descriptions
Carsales2 = Carsales.copy()
Carsales2['Sum'] = Carsales2.drop(["Sales_place_name"], axis=1).sum(axis=1)
Carsales2['Rating'] = Carsales2['Sum'].apply(sales_rating)
print(Carsales2)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Sum        Rating
One           Europe 1         2     3     9       12   26     Excellent
Two        Australia 1         4     0     3        1    8    Acceptable
Three            USA 1         0     0     4        0    4  Unacceptable
Four            Asia 1         4     1     1        0    6    Acceptable
Five          Africa 1         0     6     0        3    9    Acceptable
Six    South America 1         3    12     0        1   16     Excellent
Seven  South America 1         3     2     1        1    7    Acceptable
Eight            USA 1         2    15     1        3   21     Excellent
Nine             USA 1         1    11     0        0   12    Acceptable

In [60]:
print(pd.crosstab(Carsales2['Sales_place_name'], Carsales2['Rating']))

Rating            Acceptable  Excellent  Unacceptable
Sales_place_name
Africa 1                   1          0             0
Asia 1                     1          0             0
Australia 1                1          0             0
Europe 1                   0          1             0
South America 1            1          1             0
USA 1                      1          1             1

In [65]:
print(Carsales2.groupby('Rating', group_keys=True).apply(lambda x:x))

                   Sales_place_name  Mercedes  Ford  Tata  Renault  Sum  \
Rating
Acceptable   Two        Australia 1         4     0     3        1    8
             Four            Asia 1         4     1     1        0    6
             Five          Africa 1         0     6     0        3    9
             Seven  South America 1         3     2     1        1    7
             Nine             USA 1         1    11     0        0   12
Excellent    One           Europe 1         2     3     9       12   26
             Six    South America 1         3    12     0        1   16
             Eight            USA 1         2    15     1        3   21
Unacceptable Three            USA 1         0     0     4        0    4

                          Rating
Rating
Acceptable   Two      Acceptable
             Four     Acceptable
             Five     Acceptable
             Seven    Acceptable
             Nine     Acceptable
Excellent    One       Excellent
             Six       Excellent
             Eight     Excellent
Unacceptable Three  Unacceptable

C:\Users\cooki\AppData\Local\Temp\ipykernel_17144\983548146.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(Carsales2.groupby('Rating', group_keys=True).apply(lambda x:x))