In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Carsales.csv', index_col=0)
df.index.rename("Sales Place")
print(df)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

In [9]:
#print column as series obj
print(df['Tata'])

Sales place
One      9
Two      3
Three    4
Four     1
Five     0
Six      0
Name: Tata, dtype: int64

In [11]:
#print column as a df
print(df[['Tata']])

             Tata
Sales place
One             9
Two             3
Three           4
Four            1
Five            0
Six             0

In [15]:
#print multiple columns as a df, order defined in the df determines order in display
#cant be done as a series as a series is defined as 1D
print(df[['Ford', 'Tata']])

             Ford  Tata
Sales place
One             3     9
Two             0     3
Three           0     4
Four            1     1
Five            6     0
Six            12     0

In [17]:
print(df.iloc[:,1])

Sales place
One       3
Two       0
Three     0
Four      1
Five      6
Six      12
Name: Ford, dtype: int64

In [21]:
print(df.iloc[0:3,1:3])

             Ford  Tata
Sales place
One             3     9
Two             0     3
Three           0     4

In [6]:
print(df.loc[df.Mercedes>2])

             Mercedes  Ford  Tata  Renault
Sales place
Two                 4     0     3        1
Four                4     1     1        0
Six                 3    12     0        1

In [10]:
print(df.loc[(df.Mercedes>2) | (df.Ford >2)])

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

In [13]:
print(df.iloc[list(df.Mercedes>2)])

             Mercedes  Ford  Tata  Renault
Sales place
Two                 4     0     3        1
Four                4     1     1        0
Six                 3    12     0        1

In [17]:
sales_place_list = ["Two", "Six"]
# use a list to filter a df
print(df.loc[df.index.isin(sales_place_list)])

             Mercedes  Ford  Tata  Renault
Sales place
Two                 4     0     3        1
Six                 3    12     0        1

In [22]:
sales_place_list2 = [2,3]
print(df.iloc[sales_place_list2])

             Mercedes  Ford  Tata  Renault
Sales place
Three               0     0     4        0
Four                4     1     1        0

In [24]:
selected_index_labels = df.loc[df.index.str.contains("Five")]
print(selected_index_labels)

             Mercedes  Ford  Tata  Renault
Sales place
Five                0     6     0        3

In [25]:
sales_between = df.loc[df["Ford"].between(2, 20)]
print(sales_between)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Five                0     6     0        3
Six                 3    12     0        1

In [26]:
sales_between = df.loc[df["Ford"].between(2, 20) & df["Tata"]>0]
print(sales_between)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12