In [13]:
# Create three Pandas DataFrames
import pandas as pd

# This is the basic Carsales DataFrame extended with two more Sales places plus the index column transformed to a feature column.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
Carsales = pd.concat([Carsales, Carsales2])
Carsales.index.rename("Sales place", inplace=True)
Carsales.reset_index(inplace=True)  # Turns index column into a feature column
print(Carsales)

# This DataFrame includes Car inventory data. Unique column values for "Sales_place_name", all included in Carsales and fewer labels than in the Carsales DataFrame.
Inv_data = pd.DataFrame({"Sales_place_name": ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], "Car_inv": [132, 54, 323, 267, 183, 172]})
print(Inv_data)

# This DataFrame includes Car inventory data. Non-unique Column values for "Sales_place_name", some included in Carsales and more labels than in the Carsales DataFrame.
Inv_data2 = pd.DataFrame({"Sales_place_name": ["Europe 1", "Europe 1", "Australia 1", "USA 1", "Asia 1", "Canada 1", "Africa 1", "South America 1", "South America 2"], "Car_inv": [132, 131, 54, 323, 267, 45, 183, 172, 144]})
print(Inv_data2)

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault
0         One         Europe 1         2     3     9       12
1         Two      Australia 1         4     0     3        1
2       Three            USA 1         0     0     4        0
3        Four           Asia 1         4     1     1        0
4        Five         Africa 1         0     6     0        3
5         Six  South America 1         3    12     0        1
6       Seven  South America 1         3     2     1        1
7       Eight           Asia 1         4     1     1        0
  Sales_place_name  Car_inv
0         Europe 1      132
1      Australia 1       54
2            USA 1      323
3           Asia 1      267
4         Africa 1      183
5  South America 1      172
  Sales_place_name  Car_inv
0         Europe 1      132
1         Europe 1      131
2      Australia 1       54
3            USA 1      323
4           Asia 1      267
5         Canada 1       45
6         Africa 1      183
7  South America 1      172
8  South America 2      144

In [16]:
print(Carsales.merge(Inv_data, how='inner', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         Two      Australia 1         4     0     3        1       54
2       Three            USA 1         0     0     4        0      323
3        Four           Asia 1         4     1     1        0      267
4        Five         Africa 1         0     6     0        3      183
5         Six  South America 1         3    12     0        1      172
6       Seven  South America 1         3     2     1        1      172
7       Eight           Asia 1         4     1     1        0      267

In [19]:
# inv data 2 had an additional Europe 1 sales place name which created a cartesian duplicate
# additionally since we are using inner join the additional South America 2 does not show up
print(Carsales.merge(Inv_data2, how='inner', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         One         Europe 1         2     3     9       12      131
2         Two      Australia 1         4     0     3        1       54
3       Three            USA 1         0     0     4        0      323
4        Four           Asia 1         4     1     1        0      267
5        Five         Africa 1         0     6     0        3      183
6         Six  South America 1         3    12     0        1      172
7       Seven  South America 1         3     2     1        1      172
8       Eight           Asia 1         4     1     1        0      267

In [20]:
print(Carsales.merge(Inv_data, how='left', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         Two      Australia 1         4     0     3        1       54
2       Three            USA 1         0     0     4        0      323
3        Four           Asia 1         4     1     1        0      267
4        Five         Africa 1         0     6     0        3      183
5         Six  South America 1         3    12     0        1      172
6       Seven  South America 1         3     2     1        1      172
7       Eight           Asia 1         4     1     1        0      267

In [21]:
print(Carsales.merge(Inv_data2, how='left', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         One         Europe 1         2     3     9       12      131
2         Two      Australia 1         4     0     3        1       54
3       Three            USA 1         0     0     4        0      323
4        Four           Asia 1         4     1     1        0      267
5        Five         Africa 1         0     6     0        3      183
6         Six  South America 1         3    12     0        1      172
7       Seven  South America 1         3     2     1        1      172
8       Eight           Asia 1         4     1     1        0      267

In [22]:
print(Carsales.merge(Inv_data, how='right', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         Two      Australia 1         4     0     3        1       54
2       Three            USA 1         0     0     4        0      323
3        Four           Asia 1         4     1     1        0      267
4       Eight           Asia 1         4     1     1        0      267
5        Five         Africa 1         0     6     0        3      183
6         Six  South America 1         3    12     0        1      172
7       Seven  South America 1         3     2     1        1      172

In [23]:
print(Carsales.merge(Inv_data2, how='right', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

   Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0          One         Europe 1       2.0   3.0   9.0     12.0      132
1          One         Europe 1       2.0   3.0   9.0     12.0      131
2          Two      Australia 1       4.0   0.0   3.0      1.0       54
3        Three            USA 1       0.0   0.0   4.0      0.0      323
4         Four           Asia 1       4.0   1.0   1.0      0.0      267
5        Eight           Asia 1       4.0   1.0   1.0      0.0      267
6          NaN         Canada 1       NaN   NaN   NaN      NaN       45
7         Five         Africa 1       0.0   6.0   0.0      3.0      183
8          Six  South America 1       3.0  12.0   0.0      1.0      172
9        Seven  South America 1       3.0   2.0   1.0      1.0      172
10         NaN  South America 2       NaN   NaN   NaN      NaN      144

In [24]:
print(Carsales.merge(Inv_data, how='outer', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0        Five         Africa 1         0     6     0        3      183
1        Four           Asia 1         4     1     1        0      267
2       Eight           Asia 1         4     1     1        0      267
3         Two      Australia 1         4     0     3        1       54
4         One         Europe 1         2     3     9       12      132
5         Six  South America 1         3    12     0        1      172
6       Seven  South America 1         3     2     1        1      172
7       Three            USA 1         0     0     4        0      323

In [25]:
print(Carsales.merge(Inv_data2, how='outer', on=None, left_on='Sales_place_name', right_on='Sales_place_name'))

   Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         Five         Africa 1       0.0   6.0   0.0      3.0      183
1         Four           Asia 1       4.0   1.0   1.0      0.0      267
2        Eight           Asia 1       4.0   1.0   1.0      0.0      267
3          Two      Australia 1       4.0   0.0   3.0      1.0       54
4          NaN         Canada 1       NaN   NaN   NaN      NaN       45
5          One         Europe 1       2.0   3.0   9.0     12.0      132
6          One         Europe 1       2.0   3.0   9.0     12.0      131
7          Six  South America 1       3.0  12.0   0.0      1.0      172
8        Seven  South America 1       3.0   2.0   1.0      1.0      172
9          NaN  South America 2       NaN   NaN   NaN      NaN      144
10       Three            USA 1       0.0   0.0   4.0      0.0      323