In [1]:
import pandas as pd

# Create four Pandas DataFrames

# This is the basic Carsales DataFrame
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.index.rename("Sales place", inplace=True)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=False)
print(Carsales.head(2))

# This DataFrame may add two Salesplaces to our DataFrame, vertically.
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
print(Carsales2)

# This DataFrame contains two Carbrands columns which can be added to the Carsales DataFrame, horizontally.
Carsales3 = pd.DataFrame({"Volvo": [3, 4, 0, 0, 1], "Tesla": [2, 8, 0, 1, 1]})
Carsales3.rename(index={0: "One", 1: "Nine", 2: "Three", 3: "Six", 4: "Seven", 5: "Eight"}, inplace=True)
print(Carsales3)

# This DataFrame may be used display the .concat functions handling of duplicates.
Carsales4 = pd.DataFrame({"Sales_place_name": ["Europe 1", "Australia 1"], "Mercedes": [2, 4], "Ford": [3, 0], "Tata": [9, 3], "Renault": [12, 1]})
Carsales4.rename(index={0: "One", 1: "Two"}, inplace=True)
print(Carsales4)

            Sales_place_name  Mercedes  Ford  Tata  Renault
Sales place
One                 Europe 1         2     3     9       12
Two              Australia 1         4     0     3        1
      Sales_place_name  Mercedes  Ford  Tata  Renault
Seven  South America 1         3     2     1        1
Eight           Asia 1         4     1     1        0
       Volvo  Tesla
One        3      2
Nine       4      8
Three      0      0
Six        0      1
Seven      1      1
    Sales_place_name  Mercedes  Ford  Tata  Renault
One         Europe 1         2     3     9       12
Two      Australia 1         4     0     3        1

In [5]:
Carsales5 = Carsales.join(Carsales3, how='left')
print(Carsales5)

            Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
Sales place
One                 Europe 1         2     3     9       12    3.0    2.0
Two              Australia 1         4     0     3        1    NaN    NaN
Three                  USA 1         0     0     4        0    0.0    0.0
Four                  Asia 1         4     1     1        0    NaN    NaN
Five                Africa 1         0     6     0        3    NaN    NaN
Six          South America 1         3    12     0        1    0.0    1.0

In [8]:
Carsales6 = Carsales.join(Carsales3, how='right')
print(Carsales6)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1       2.0   3.0   9.0     12.0      3      2
Nine               NaN       NaN   NaN   NaN      NaN      4      8
Three            USA 1       0.0   0.0   4.0      0.0      0      0
Six    South America 1       3.0  12.0   0.0      1.0      0      1
Seven              NaN       NaN   NaN   NaN      NaN      1      1

In [9]:
Carsales7 = Carsales.join(Carsales3, how='inner')
print(Carsales7)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1         2     3     9       12      3      2
Three            USA 1         0     0     4        0      0      0
Six    South America 1         3    12     0        1      0      1

In [10]:
Carsales8 = Carsales.join(Carsales3, how='outer')
print(Carsales8)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
Five          Africa 1       0.0   6.0   0.0      3.0    NaN    NaN
Four            Asia 1       4.0   1.0   1.0      0.0    NaN    NaN
Nine               NaN       NaN   NaN   NaN      NaN    4.0    8.0
One           Europe 1       2.0   3.0   9.0     12.0    3.0    2.0
Seven              NaN       NaN   NaN   NaN      NaN    1.0    1.0
Six    South America 1       3.0  12.0   0.0      1.0    0.0    1.0
Three            USA 1       0.0   0.0   4.0      0.0    0.0    0.0
Two        Australia 1       4.0   0.0   3.0      1.0    NaN    NaN

In [12]:
# Cross joins yeild all possible combinations.  This causes a loss of indices
# These are used mostly for math, simulations and combinatorial data
Carsales9 = Carsales.join(Carsales3, how='cross')
print(Carsales9)

   Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
0          Europe 1         2     3     9       12      3      2
1          Europe 1         2     3     9       12      4      8
2          Europe 1         2     3     9       12      0      0
3          Europe 1         2     3     9       12      0      1
4          Europe 1         2     3     9       12      1      1
5       Australia 1         4     0     3        1      3      2
6       Australia 1         4     0     3        1      4      8
7       Australia 1         4     0     3        1      0      0
8       Australia 1         4     0     3        1      0      1
9       Australia 1         4     0     3        1      1      1
10            USA 1         0     0     4        0      3      2
11            USA 1         0     0     4        0      4      8
12            USA 1         0     0     4        0      0      0
13            USA 1         0     0     4        0      0      1
14            USA 1         0     0     4        0      1      1
15           Asia 1         4     1     1        0      3      2
16           Asia 1         4     1     1        0      4      8
17           Asia 1         4     1     1        0      0      0
18           Asia 1         4     1     1        0      0      1
19           Asia 1         4     1     1        0      1      1
20         Africa 1         0     6     0        3      3      2
21         Africa 1         0     6     0        3      4      8
22         Africa 1         0     6     0        3      0      0
23         Africa 1         0     6     0        3      0      1
24         Africa 1         0     6     0        3      1      1
25  South America 1         3    12     0        1      3      2
26  South America 1         3    12     0        1      4      8
27  South America 1         3    12     0        1      0      0
28  South America 1         3    12     0        1      0      1
29  South America 1         3    12     0        1      1      1