In [7]:
# Create three Pandas DataFrames
import pandas as pd

# This code will become the Carsales DataFrame extended with two more Sales places plus the "Rating" and "Target" columns.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1], "Rating":["high", "med.", "low", "low", "med.", "high"], "Target":["Y", "Y", "Y", "N", "N", "N"]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.index.rename("Sales Place", inplace=True)
print(Carsales)

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
One                 2     3     9       12   high      Y
Two                 4     0     3        1   med.      Y
Three               0     0     4        0    low      Y
Four                4     1     1        0    low      N
Five                0     6     0        3   med.      N
Six                 3    12     0        1   high      N

In [8]:
print(Carsales.columns)
print(Carsales.index)

Index(['Mercedes', 'Ford', 'Tata', 'Renault', 'Rating', 'Target'], dtype='object')
Index(['One', 'Two', 'Three', 'Four', 'Five', 'Six'], dtype='object', name='Sales Place')

In [14]:
Carsales.rename(columns={'Tata': 'Tatra', 'Ford': 'Dodge'}, inplace=True)
print(Carsales)

             Mercedes  Dodge  Tatra  Renault Rating Target
Sales Place
One                 2      3      9       12   high      Y
Two                 4      0      3        1   med.      Y
Three               0      0      4        0    low      Y
Four                4      1      1        0    low      N
Five                0      6      0        3   med.      N
Six                 3     12      0        1   high      N

In [11]:
Carsales.columns = Carsales.columns.str.replace('Tatra', 'Tatrra')
print(Carsales)

             Mercedes  Ford  Tatrra  Renault Rating Target
Sales Place
One                 2     3       9       12   high      Y
Two                 4     0       3        1   med.      Y
Three               0     0       4        0    low      Y
Four                4     1       1        0    low      N
Five                0     6       0        3   med.      N
Six                 3    12       0        1   high      N

In [13]:
# All columns must be specified or error is thrown
Carsales.columns = ['Mercedes', 'Ford', 'Tata', 'Renault', 'Rating', 'Target']
print(Carsales)

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
One                 2     3     9       12   high      Y
Two                 4     0     3        1   med.      Y
Three               0     0     4        0    low      Y
Four                4     1     1        0    low      N
Five                0     6     0        3   med.      N
Six                 3    12     0        1   high      N

In [20]:
# Edit Indices
Carsales.rename(index={'Five': 'Fiver', 'Six': 'Fiver'}, inplace=True)
print(Carsales)

             Mercedes  Dodge  Tatra  Renault Rating Target
Sales Place
One                 2      3      9       12   high      Y
Two                 4      0      3        1   med.      Y
Three               0      0      4        0    low      Y
Four                4      1      1        0    low      N
Fiver               0      6      0        3   med.      N
Fiver               3     12      0        1   high      N

In [21]:

Carsales.index = Carsales.index.str.replace('Fiver', 'Five')
print(Carsales)

             Mercedes  Dodge  Tatra  Renault Rating Target
Sales Place
One                 2      3      9       12   high      Y
Two                 4      0      3        1   med.      Y
Three               0      0      4        0    low      Y
Four                4      1      1        0    low      N
Five                0      6      0        3   med.      N
Five                3     12      0        1   high      N

In [23]:
Carsales.index = [0, 1, 2, 3, 4, 5]
print(Carsales)

   Mercedes  Dodge  Tatra  Renault Rating Target
0         2      3      9       12   high      Y
1         4      0      3        1   med.      Y
2         0      0      4        0    low      Y
3         4      1      1        0    low      N
4         0      6      0        3   med.      N
5         3     12      0        1   high      N