In [16]:
import pandas as pd

# This code will become the Carsales DataFrame extended with two more Sales places plus the "Rating" and "Target" columns.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1], "Rating":["high", "med.", "low", "low", "med.", "high"], "Target":["Y", "Y", "Y", "N", "N", "N"]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.index.rename("Sales Place", inplace=True)
print(Carsales)

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
One                 2     3     9       12   high      Y
Two                 4     0     3        1   med.      Y
Three               0     0     4        0    low      Y
Four                4     1     1        0    low      N
Five                0     6     0        3   med.      N
Six                 3    12     0        1   high      N

In [17]:
print(Carsales.sort_values(by=['Ford']))

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Two                 4     0     3        1   med.      Y
Three               0     0     4        0    low      Y
Four                4     1     1        0    low      N
One                 2     3     9       12   high      Y
Five                0     6     0        3   med.      N
Six                 3    12     0        1   high      N

In [18]:
print(Carsales.sort_values(by=['Ford'], ascending=False))

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Six                 3    12     0        1   high      N
Five                0     6     0        3   med.      N
One                 2     3     9       12   high      Y
Four                4     1     1        0    low      N
Two                 4     0     3        1   med.      Y
Three               0     0     4        0    low      Y

In [21]:
# sorts in order of by= column order.  Sales places are first sorted by descending rating first and then descending Ford values within the rating
print(Carsales.sort_values(by=['Rating', 'Ford'], ascending=False))

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Five                0     6     0        3   med.      N
Two                 4     0     3        1   med.      Y
Four                4     1     1        0    low      N
Three               0     0     4        0    low      Y
Six                 3    12     0        1   high      N
One                 2     3     9       12   high      Y

In [22]:
print(Carsales.sort_index()) # alphabetical since indices are strings

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Five                0     6     0        3   med.      N
Four                4     1     1        0    low      N
One                 2     3     9       12   high      Y
Six                 3    12     0        1   high      N
Three               0     0     4        0    low      Y
Two                 4     0     3        1   med.      Y

In [31]:
# idxmax finds the index of the rows with the largest value for each column
print(Carsales.idxmax())

Mercedes    Two
Ford        Six
Tata        One
Renault     One
Rating      Two
Target      One
dtype: object

In [27]:
# when axis=columns idxmax finds the columns with the largest value for every index, but can only be used on integer values so we need to drop the rating and target columns
Carsales2 = Carsales.drop(['Rating', 'Target'], axis=1)
print(Carsales2)
print(Carsales2.idxmax(axis='columns'))

             Mercedes  Ford  Tata  Renault
Sales Place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1
Sales Place
One       Renault
Two      Mercedes
Three        Tata
Four     Mercedes
Five         Ford
Six          Ford
dtype: object

In [30]:
# idxmin finds the index of the row with the smallest value for each column
print(Carsales.idxmin())

Mercedes    Three
Ford          Two
Tata         Five
Renault     Three
Rating        One
Target       Four
dtype: object

In [32]:
# when axis=columns idxmin finds the columns with the smallest value for every index, but can only be used on integer values so we need to drop the rating and target columns
print(Carsales2)
print(Carsales2.idxmin(axis='columns'))

             Mercedes  Ford  Tata  Renault
Sales Place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1
Sales Place
One      Mercedes
Two          Ford
Three    Mercedes
Four      Renault
Five     Mercedes
Six          Tata
dtype: object

In [34]:
# duplicate handling
print(Carsales.nlargest(3, 'Mercedes', keep='all'))

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Two                 4     0     3        1   med.      Y
Four                4     1     1        0    low      N
Six                 3    12     0        1   high      N

In [41]:
# keeping all duplicates could result in more returns then desired in certain circumstances
print(Carsales.nsmallest(3, 'Renault', keep='all'))

             Mercedes  Ford  Tata  Renault Rating Target
Sales Place
Three               0     0     4        0    low      Y
Four                4     1     1        0    low      N
Two                 4     0     3        1   med.      Y
Six                 3    12     0        1   high      N

In [44]:
# rank indices by single column value largest to smallest
print(Carsales['Mercedes'].rank(ascending=False))

Sales Place
One      4.0
Two      1.5
Three    5.5
Four     1.5
Five     5.5
Six      3.0
Name: Mercedes, dtype: float64

In [45]:
# rank indices by all column values largest to smallest
print(Carsales.rank(ascending=False))

             Mercedes  Ford  Tata  Renault  Rating  Target
Sales Place
One               4.0   3.0   1.0      1.0     5.5     2.0
Two               1.5   5.5   3.0      3.5     1.5     2.0
Three             5.5   5.5   2.0      5.5     3.5     2.0
Four              1.5   4.0   4.0      5.5     3.5     5.0
Five              5.5   2.0   5.5      2.0     1.5     5.0
Six               3.0   1.0   5.5      3.5     5.5     5.0

In [47]:
# rank the columns per index, mixed values don't make sense in this case so the string columns were removed
print(Carsales2.rank(axis=1, ascending=False))

             Mercedes  Ford  Tata  Renault
Sales Place
One               4.0   3.0   2.0      1.0
Two               1.0   4.0   2.0      3.0
Three             3.0   3.0   1.0      3.0
Four              1.0   2.5   2.5      4.0
Five              3.5   1.0   3.5      2.0
Six               2.0   1.0   4.0      3.0