In [1]:
# Create three Pandas DataFrames
import pandas as pd

# This code will become the Carsales DataFrame extended with two more Sales places plus the "Rating" and "Target" columns.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1], "Rating":["high", "med.", "low", "low", "med.", "high"], "Target":["Y", "Y", "Y", "N", "N", "N"]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0], "Rating": ["low", "low"], "Target":["N", "N"]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
Carsales3 = pd.concat([Carsales, Carsales2])
Carsales3.index.rename("Sales place", inplace=True)
print(Carsales)
print(Carsales3)

      Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
One           Europe 1         2     3     9       12   high      Y
Two        Australia 1         4     0     3        1   med.      Y
Three            USA 1         0     0     4        0    low      Y
Four            Asia 1         4     1     1        0    low      N
Five          Africa 1         0     6     0        3   med.      N
Six    South America 1         3    12     0        1   high      N
            Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
Sales place
One                 Europe 1         2     3     9       12   high      Y
Two              Australia 1         4     0     3        1   med.      Y
Three                  USA 1         0     0     4        0    low      Y
Four                  Asia 1         4     1     1        0    low      N
Five                Africa 1         0     6     0        3   med.      N
Six          South America 1         3    12     0        1   high      N
Seven        South America 1         3     2     1        1    low      N
Eight                 Asia 1         4     1     1        0    low      N

In [2]:
Carsales4 = Carsales3.transpose()
print(Carsales4)

Sales place            One          Two  Three    Four      Five  \
Sales_place_name  Europe 1  Australia 1  USA 1  Asia 1  Africa 1
Mercedes                 2            4      0       4         0
Ford                     3            0      0       1         6
Tata                     9            3      4       1         0
Renault                 12            1      0       0         3
Rating                high         med.    low     low      med.
Target                   Y            Y      Y       N         N

Sales place                   Six            Seven   Eight
Sales_place_name  South America 1  South America 1  Asia 1
Mercedes                        3                3       4
Ford                           12                2       1
Tata                            0                1       1
Renault                         1                1       0
Rating                       high              low     low
Target                          N                N       N

In [3]:
# transposing twice returns the original
print(Carsales4.transpose())

            Sales_place_name Mercedes Ford Tata Renault Rating Target
Sales place
One                 Europe 1        2    3    9      12   high      Y
Two              Australia 1        4    0    3       1   med.      Y
Three                  USA 1        0    0    4       0    low      Y
Four                  Asia 1        4    1    1       0    low      N
Five                Africa 1        0    6    0       3   med.      N
Six          South America 1        3   12    0       1   high      N
Seven        South America 1        3    2    1       1    low      N
Eight                 Asia 1        4    1    1       0    low      N

In [5]:
Carsales6 = Carsales.pivot(index='Sales_place_name', columns='Rating', values='Mercedes')
print(Carsales6)

Rating            high  low  med.
Sales_place_name
Africa 1           NaN  NaN   0.0
Asia 1             NaN  4.0   NaN
Australia 1        NaN  NaN   4.0
Europe 1           2.0  NaN   NaN
South America 1    3.0  NaN   NaN
USA 1              NaN  0.0   NaN

In [6]:
# Pivot can be used with multiple columns or multiple values
Carsales7 = Carsales.pivot(index='Sales_place_name', columns=['Rating', 'Target'], values='Mercedes')
print(Carsales7)

Rating           high med.  low      med. high
Target              Y    Y    Y    N    N    N
Sales_place_name
Africa 1          NaN  NaN  NaN  NaN  0.0  NaN
Asia 1            NaN  NaN  NaN  4.0  NaN  NaN
Australia 1       NaN  4.0  NaN  NaN  NaN  NaN
Europe 1          2.0  NaN  NaN  NaN  NaN  NaN
South America 1   NaN  NaN  NaN  NaN  NaN  3.0
USA 1             NaN  NaN  0.0  NaN  NaN  NaN

In [7]:
Carsales7 = Carsales.pivot(index='Sales_place_name', columns='Rating', values=['Mercedes', 'Ford'])
print(Carsales7)

                 Mercedes            Ford
Rating               high  low med.  high  low med.
Sales_place_name
Africa 1              NaN  NaN  0.0   NaN  NaN  6.0
Asia 1                NaN  4.0  NaN   NaN  1.0  NaN
Australia 1           NaN  NaN  4.0   NaN  NaN  0.0
Europe 1              2.0  NaN  NaN   3.0  NaN  NaN
South America 1       3.0  NaN  NaN  12.0  NaN  NaN
USA 1                 NaN  0.0  NaN   NaN  0.0  NaN

In [9]:
Carsales8 = Carsales.pivot(index='Target', columns='Rating', values='Mercedes')
print(Carsales8)

Rating  high  low  med.
Target
N          3    4     0
Y          2    0     4

In [11]:
Carsales9 = Carsales3.pivot_table(values=['Mercedes', 'Ford', 'Tata', 'Renault'], index='Rating', 
                                  columns='Target', aggfunc='sum')
print(Carsales3)
print(Carsales9)

            Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
Sales place
One                 Europe 1         2     3     9       12   high      Y
Two              Australia 1         4     0     3        1   med.      Y
Three                  USA 1         0     0     4        0    low      Y
Four                  Asia 1         4     1     1        0    low      N
Five                Africa 1         0     6     0        3   med.      N
Six          South America 1         3    12     0        1   high      N
Seven        South America 1         3     2     1        1    low      N
Eight                 Asia 1         4     1     1        0    low      N
       Ford    Mercedes    Renault     Tata
Target    N  Y        N  Y       N   Y    N  Y
Rating
high     12  3        3  2       1  12    0  9
low       4  0       11  0       1   0    3  4
med.      6  0        0  4       3   1    0  3

In [14]:
# Melting can reverse a pivot by any data not included in the pivot has to be readded
Carsales10 = pd.melt(Carsales8, value_vars=['high', 'low', 'med.'], value_name='Mercedes')
print(Carsales8)
print(Carsales10)

Rating  high  low  med.
Target
N          3    4     0
Y          2    0     4
  Rating  Mercedes
0   high         3
1   high         2
2    low         4
3    low         0
4   med.         0
5   med.         4

In [15]:

Carsales8.reset_index(inplace=True)
Carsales10 = pd.melt(Carsales8, id_vars='Target', value_vars=['high', 'low', 'med.'], value_name='Mercedes')
print(Carsales8)
print(Carsales10)

Rating Target  high  low  med.
0           N     3    4     0
1           Y     2    0     4
  Target Rating  Mercedes
0      N   high         3
1      Y   high         2
2      N    low         4
3      Y    low         0
4      N   med.         0
5      Y   med.         4